@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-origin: 0 0;
}

#app {
  flex: 1;
  position: relative;
}

p {
  max-width: 75ch;
}

#layout {
  border: 2px #ccc;
  display: "flex";
  flex-direction: "column";
  gap: "2";
  justify-content: "center";
  align-items: "center";
  width: 100%;
  max-width: 720px;
  justify-self: center;
}
